body {
background-color: FFFFFF;
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
padding: 1rem;
transition: background-color 0,5;
}
h1 {
color: FF0000;
font-family: 'Times New Roman' , serif;
text-align: center;
font-size: 2rem;
margin: 20px 0;
transition color 0,5;
}
h2 {
font-size: 1.5rem;
}
p {
color: 00FF00;
font-family: Arial, sans-serif;
text-align: center;
font-size: 1rem;
padding: 5px;
transition: color 0,5;
}
nav a {
padding: 0.6rem 1rem;
display: inline-block;
}
.galerie {
display: grid;
width: 100%;
grid-template-columns: repeat(auto-fit, minimax(200px, 1 fr));
gap: 15px;
padding: 10px;
box-sizing: border-box;
}
.galerie img {
width: 100%;
height: auto;
object-fit: cover;
display: block;
}
@media (max-width: 768px) {
.galerie {
grid-template-columns: repeat(2,1fr);
}
.galerie img {
height: 180px;
}
}
