body {
background-color: FFFFFF;
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
padding: 1rem;
transition: background-color 0,5;
}
h1 {
color: FF0000;
font-family: 'Times New Roman' , serif;
text-align: center;
font-size: 2rem;
margin: 20px 0;
transition color 0,5;
}
h2 {
font-size: 1.5rem;
}
p {
color: 00FF00;
font-family: Arial, sans-serif;
text-align: center;
font-size: 1rem;
padding: 5px;
transition: color 0,5;
}
nav a {
padding: 0.6rem 1rem;
display: inline-block;
}
img {
width: 100%;
max-width: 600px;
height: auto;
display: block;
margin: 0 auto;
}